/vendor
/.env
/.phpunit.cache
/node_modules
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Windows Zone.Identifier files
*:Zone.Identifier
*.Zone.Identifier
